body{
    font-family: 'Montserrat', sans-serif;
}
.main-header{
    background-color: #d0d6d5;
}
.main-section{
    background-color: #e0e0e0;
}
.secondary{
    color: #00705c;
}
.highlight{
    background-color: #7dffe8;
}